// COLORS
$color-primary: #fff6e6;
$color-secondary: #422800;
$color-tertiary: #7ed56f;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.4rem;
$font-heading: "Asul", sans-serif;
$font-body: "Nunito Sans", sans-serif;
